USER_DATA_DIR=/home/avei/.config/google-chrome/Default
PROFILE_DIRECTORY="Profile 1"
# Beginner
URL=https://gdg.community.dev/accounts/dashboard/#/chapter-1158/event-93788/manage
# Intermediate
# URL=https://gdg.community.dev/accounts/dashboard/#/chapter-681/event-84050/manage
EVENT_NAME=
# CSV_FILE=test.csv
CSV_FILE=data.csv
# CSV_FILE=intermediate.csv
# TICKET_CODE=IOXUCUPBOGOR24

# USER_DATA_DIR: The path to the Chrome user data directory. See chrome://version
# PROFILE_DIRECTORY: The name of the profile directory in the user data directory. See chrome://version
# URL: The URL of the specific Bevy event platform (e.g. https://gdg.community.dev)
# EVENT_NAME: The exact name of the event
# CSV_FILE: The path to the CSV file containing the data. Columns should be formatted to `First Name`, `Last Name`, and `Email`
